In [ ]:
# Pandas singkatnya excel di dalam python
# Karena  pandas library jadi manggilnya harus menggunakan import

import pandas as pd

isianpanda = {
    "nama" : ["Kezya","Samuel","Sherryn"],
   "nilai" : [80,90,100],
}

print(type(isianpanda))
my_df = pd.DataFrame(isianpanda)
print(type(my_df))

In [ ]:
print(isianpanda)

In [ ]:
print(my_df)

In [ ]:
kolombaru = {
    "kota" : ["Serang", "Tangerang", "Jakarta"]
}

In [ ]:
#Series digunakan untuk mengambil kolom saja, mengambil dalam artian mengcopy, kalau di excel kek copy dari sheet 1 ke sheet 2

simpankolom = pd.Series(my_df["nilai"])

In [ ]:
print(simpankolom)

In [ ]:
# belajar lokasi (indeks)

print(my_df.loc[0:1]) # konsepnya sama kek array, yang start stop step

In [ ]:
# cara menambahkan kolom pada dataframe

kota = ["Serang", "Tangerang", "Jakarta"]

my_df["alamat"] = kota

print(my_df) # cara menambahkan kolom namun menambahkannya di kanan saja

my_df.insert(2, "umur", [12,13,14], True)
print(my_df) # cara menambahkan kolom sesuai dengan keinginan kita

In [ ]:
# untuk melakukan import
import pandas as pd
sales_df = pd.read_csv("Sales-products.csv")
sales_df

In [ ]:
sales_df.info() # untuk melihat informasi pada data

In [ ]:
sales_df.head(5) # menampilkan 5 data teratas

In [ ]:
sales_df.tail(5) # menampilkan 5 data terbawah

In [ ]:
sales_df.describe() #menampilkan tipe data yang float

In [ ]:
#menghapus nilai yang kosong

df_dropna = sales_df.copy() #copy dataframe

df_dropna.dropna(inplace=True) #mengeliminasi SEMUA value yang NA (dicek berdaasarkan baris), NA = kosong

df_dropna.info()

In [ ]:
df_dropna.describe()

In [ ]:
# mengisi nilai yang kosong

df_fillna = sales_df.copy()

df_fillna["OrderMethod"].fillna("Sales visit", inplace = True)
df_fillna.info()

In [ ]:
df_fillna

In [ ]:
# mengisi dengan median

median_revenue = sales_df["Revenue"].median()

print(median_revenue)

In [ ]:
df_fillna["Revenue"].fillna(median_revenue, inplace = True)
df_fillna.info()

In [ ]:
# Perubahan tipe data yang paling sering adalah string, integer dan float

df_changedt = sales_df.copy() #membuat variabel baru dulu
df_changedt.info()

In [ ]:
#cara 1 mengubah tipe data
df_changedt["Year"] = df_changedt["Year"].astype(str) #mengubah tipe data menjadi string agar data typenya menjadi object untuk keperluan mengolah data tsb lebih lanjut lagi
df_changedt.info()

In [ ]:
df_changedt["Year"] = pd.to_datetime(df_changedt["Year"]) #ini sintaks buat  mengubah data ke datatime (lihat yang year), tapi memang sengaja eror karena datanya tidak sesuai
df_changedt.info()

In [ ]:
#cara 2 mengubah tipe data
df_changedt["Year"] = df_changedt["Year"].apply(str)
df_changedt.info()

In [ ]:
#cara 3 mengubah tipe data
df_changedt["Year"] = df_changedt["Year"].map(str)
df_changedt.info()

In [ ]:
df_changedt.head(5)

In [ ]:
df_changedt["Year"] = df_changedt["Year"].str[:4] #pada kolom tahun, diubah datanya untuk diambil 4 terdepan aja

df_changedt.sample(20)

In [ ]:
df_changedt["SaleID"] = df_changedt["SaleID"].str[7:] # pada kolom salesid, diambil angkanya aja, kalau angkanya ga jelas artinya ketimpa tu angkanya, jalankan ulang kembali

df_changedt.sample(20)

In [ ]:
#membuat kolom baru berdasarkan kolom yang sudah ada
df_changedt["PriceQty"] = df_changedt["Revenue"] / df_changedt["Quantity"]

df_changedt.info()

In [ ]:
df_changedt.sample(5)

In [ ]:
#menghapus semua baris yang sama 

df_dropduplicate = sales_df.copy()

df_dropduplicate.drop_duplicates(inplace = True)

df_dropduplicate.info()

In [ ]:
df_dropduplicate.loc[4:5]

In [ ]:
#mengambil isi kolom ordermethod yang isinya fax aja (satu kondisi)

df_dropduplicate.loc[df_dropduplicate["OrderMethod"] == "Fax"]

In [ ]:
#mengambil dua kondisi pada kolom berbeda, tapi kalau di satu kolom yg sama jg bisa

df_dropduplicate.loc[(df_dropduplicate["OrderMethod"] == "Fax") & (df_dropduplicate["RetailerCountry"] == "Singapore")]

In [ ]:
df_dropduplicate.loc[(df_dropduplicate["OrderMethod"] == "Fax") & (df_dropduplicate["RetailerCountry"] == "Singapore")].loc[325:328]